article.boardgameBG {
   border: 2px solid #00A66E;
   background-color: #042C1B;
}

article.boardgameBG>.thumbnail {
   border: 2px solid #00A66E;
   overflow: hidden;
   border-radius: 10px;
}

article.gameBG {
   border: 2px solid #E8D600;
   background-color: #5B5300;
}

article.gameBG>.thumbnail {
   border: 2px solid #E8D600;
   overflow: hidden;
   border-radius: 10px;
}

article.mangaBG {
   border: 2px solid #9CA7FA;
   background-color: #0E2358;
}

article.mangaBG>.thumbnail {
   border: 2px solid #9CA7FA;
   overflow: hidden;
   border-radius: 10px;
}

article.readingBG {
   border: 2px solid #F17961;
   background-color: #45150C;
}

article.readingBG>.thumbnail {
   border: 2px solid #F17961;
   overflow: hidden;
   border-radius: 10px;
}

article.rolePlayingBG {
   border: 2px solid #62D926;
   background-color: #152B07;
}

article.rolePlayingBG>.thumbnail {
   border: 2px solid #62D926;
   overflow: hidden;
   border-radius: 10px;
}

article.defaultBG {
   border: 2px solid #D1D5DB;
   background-color: #2A3140;
}

article.defaultBG>.thumbnail {
   border: 2px solid #D1D5DB;
   overflow: hidden;
   border-radius: 10px;
}