.clickable {
   cursor: pointer;
}

.hor-view {
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
   padding: 0 16px;
   padding-inline-start: 0;
}

.item {
   padding: 8px 12px;
}

.hor-view>.item:first-of-type {
   padding-inline-start: 0;
}

article.mainItem {
   display: grid;
   grid-template-columns: minmax(0, 1fr) auto;
   grid-template-rows: auto auto;
   gap: 8px 16px;
   align-items: center;
}

article.mainItem>.itemRow {
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
}

article.mainItem>.thumbnail {
   grid-column: 2;
   grid-row: 1 / span 2;

   height: 100%;
   width: auto;
   max-width: 160px;

   display: block;
   object-fit: contain;
   justify-self: end;
   align-self: stretch;
}

article.mainItem>.thumbnail-noImage {
   grid-column: 2;
   grid-row: 1 / span 2;

   height: 100%;
   width: auto;
   max-width: 160px;

   display: block;
   object-fit: contain;
   justify-self: end;
   align-self: stretch;
}

.banner {
   display: grid;
   grid-template-columns: minmax(0, 1fr) auto;
}

.banner>.end {
   grid-column: 2;
   grid-row: 1 / span 2;
}

.hor-view img {
   height: 100%;
   width: auto;
   max-width: 160px;

   border: 2px solid #D1D5DB;
   overflow: hidden;
   border-radius: 10px;
}